<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">All Existing Employees Details</h4>
            </div>
        <table>
            <thead >
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Department</th>
                <th>Team</th>
                <th>Manager ID</th>
                <th>Manager Name</th>
              </tr>
            </thead>
            <tbody>
                @for (employee of employeeData; track $index) {
                    <tr>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.designation }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.team }}</td>
                        <td>{{ employee.manager_id }}</td>
                        <td>{{ employee.manager_name }}</td>
                      </tr>
                }
              
            </tbody>
          </table>
        </div> 
    </div>  

</div>


<div class="container mt-5">
    <button type="button" class="btn btn-success" 
                (click)="showEmployeeForm()">Add Employee</button>
    <div   *ngIf="showAddEmployeeForm" class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Employee Form</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="employeeForm">
                        <!-- <div class="mb-3">
                            <label for="empId" class="form-label">Employee Id</label>
                            <input type="text" formControlName="empId" class="form-control" id="empid"
                                aria-describedby="empid">
                            <div class="text-danger">
                                @if(employeeForm.controls['empId'].touched &&
                                employeeForm.controls['empId'].errors?.['required']){
                                <span> This is required </span>
                                }
                            </div>
                        </div> -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" formControlName="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                            <div class="text-danger">
                                @if(employeeForm.controls['email'].touched &&
                                employeeForm.controls['email'].errors?.['email']){
                                <span> Imporper email address </span>
                                }
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" formControlName="name" class="form-control" id="name"
                                aria-describedby="empName">
                        </div>
                        <div class="mb-3">
                            <label for="designation" class="form-label">Designation</label>
                            <input type="text" formControlName="designation" class="form-control" id="designation"
                                aria-describedby="designation">
                        </div>

                        <div class="mb-3">
                            <label for="department" class="form-label">Department</label>
                            <input type="text" formControlName="department" class="form-control" id="department"
                                aria-describedby="department">
                        </div>
                        <!-- <div class="mb-3">
                            <label for="manager_name" class="form-label">Manager Name</label>
                            <input type="text" formControlName="manager_name" class="form-control"
                                id="manager_name" aria-describedby="department">
                        </div> -->
                        <div class="mb-3">
                            <label for="manager_id" class="form-label">Manager Id</label>
                            <input type="text" formControlName="manager_id" class="form-control" id="manager_id"
                                aria-describedby="manager_id">
                        </div>
                        
                        <div class="mb-3">
                            <label for="team" class="form-label">Team</label>
                            <input type="text" formControlName="team" class="form-control" id="manager"
                                aria-describedby="department">
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary" (click)="reset()">Reset</button>
                            <button type="button" class="btn btn-success" [disabled]="employeeForm.invalid"
                                (click)="onSubmit()">Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="mb-3">
            <label for="formFileSm" class="form-label">Please upload csv file </label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" (click)="reset()">Reset</button>
            <button type="button" class="btn btn-success" [disabled]="employeeForm.invalid"
                (click)="onSubmit()">Submit</button>

        </div>
    </div>
</div>

{{formValue | json}}
<div class="col-3">
    <select class="form-select">
        @for (item of employeeData; track $index) {
        <option>{{item.name}}</option>
        }

    </select>
</div>